<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img height="80px" src="LOGO-Transport.png" alt="">
        </div>

        <div class="menu-bar">
            <ul>
                <li><a href="#">
                        <h5>Home</h5>
                    </a></li>
                <li><a href="#">
                        <h5>Services</h5>
                    </a></li>
                <li><a href="#">
                        <h5>News</h5>
                    </a></li>
                <li><a href="#">
                        <h5>Faqs</h5>
                    </a></li>
                <li><a href="#">
                        <h5>About Us</h5>
                    </a></li>
                <li><a href="#">
                        <h5>Contact Us</h5>
                    </a></li>
            </ul>

        </div>
    </div>
    <!-- main heading with buttons  -->

    <div class="mainheading">
        <div class="headinName">
            <center>
                <h1>WELCOME TO THE DBA-CO TRANSPORT WEBSITE.</h1>
            </center>
        </div>
        <div class="button">
            <button class="sub-button1" type="submit">HOME</button>
            <button class="sub-button2" type="submit">CONTACT US</button>

        </div>


    </div>



    <!-- after main heading  -->
    <div class="service">
        <h1>DBA-CO NATIONWIDE TRANSPORT SERVICE</h1>
        <p>DBA-CO Transport Company provides transportation services by air, sea, car. Arrived quickly, on time for
            sure</p>

    </div>


    <!-- about-->
    <div class="about">
        <h2>ABOUT US</h2>
        <button style="padding: 13px 35px 13px 35px; background-color: #14a168;" class="sub-button2" type="button">CLICK
            HERE</button>

    </div>

    <!-- popular services -->
    <div class="popularServices">
        <div>
            <center>
                <h1>POPULAR SERVICE</h1>
            </center>
        </div>
        <div class="double">
            <div>
                <p>Compilation of popular statistics for using the service in the past which type of transportation is
                    the most popular because each type has a different duration. The price is the same, the difference
                    is obvious because if it is a transport that uses a vehicle such as an airplane, it will have high
                    fuel consumption, so it is very expensive and the delivery time is much faster, but with the price.
                    The height therefore makes the use of services much less than other types of transport, and
                    transportation by car as well takes less time to transport than planes, but faster than ships, but
                    until delivery is the least and the ship is the type that uses the service. Although the
                    transportation time is slower than all types, but because of its low cost and high transport
                    capacity, it is the most popular nowadays.</p>
            </div>
            <div>
                <p>hello</p>
            </div>
        </div>
    </div>


    <!-- Latest News -->
    <div class="latestNews" style="background-color: white; padding: 80px;">
        <center><strong>
                <h2>LATEST NEWS</h2>
            </strong></center>

        <div class="row">




            <div class="column">
                <img src="LOGO-Transport.png">
                <h3>hello</h3>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto veritatis, necessitatibus iure
                    hic
                    temporibus reiciendis, tempore eum saepe similique praesentium exercitationem fuga facere
                    debitis
                    nihil deserunt? Quo cumque maiores eum!</p>
            </div>








            <div class="column">
                <img src="LOGO-Transport.png">
                <h3>hello</h3>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto veritatis, necessitatibus iure
                    hic
                    temporibus reiciendis, tempore eum saepe similique praesentium exercitationem fuga facere
                    debitis
                    nihil deserunt? Quo cumque maiores eum!</p>
            </div>




            <div class="column">
                <img src="LOGO-Transport.png">
                <h3>hello</h3>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto veritatis, necessitatibus iure
                    hic
                    temporibus reiciendis, tempore eum saepe similique praesentium exercitationem fuga facere
                    debitis
                    nihil deserunt? Quo cumque maiores eum!</p>
            </div>



            <div class="column">
                <img src="LOGO-Transport.png">
                <h3>hello</h3>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto veritatis, necessitatibus iure
                    hic
                    temporibus reiciendis, tempore eum saepe similique praesentium exercitationem fuga facere
                    debitis
                    nihil deserunt? Quo cumque maiores eum!</p>
            </div>
        </div>
    </div>


    <!-- Contact -->
    <div class="contact">
        <center>
            <div class="mainConatct">
                <h2>CONTACTS</h2>
            </div>
        </center>
        <center><b>
                <p>777/1 Ratchadaphisek Sub-district, Samsen Nok Subdistrict, Huai Khwang District, Bangkok
                    10310</p>
            </b>
            <b>
                <p>Line : XXXX Email : dba-co@www.dba-co.com Call : 099-658-89XX</p>
            </b>
            <b>
                <p>Monday - Saturday time 08.50-18.30 Contact the Call Center 24 hours a day.</p>
            </b>
        </center>
    </div>

    <!-- footer  -->
    <footer>
        <div class="footer">
            <div>
                <h2>Menu</h2>
                <hr>
                <ul>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                </ul>
            </div>
            <div>
                <h2>Menu</h2>
                <hr>
                <ul>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                </ul>
            </div>
            <div>
                <h2>Menu</h2>
                <hr>
                <ul>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div>
                <h2>Contributer</h2>
                <hr>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
            </div>
            <div>
                <h2>Contributer</h2>
                <hr>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
            </div>
        </div>
        <div class="f-img">
            <img src="https://www.dba-co.com/wp-content/uploads/2017/02/Partners-theer.png" alt="">
            <img src="https://www.dba-co.com/wp-content/uploads/2017/02/Partners-two.png" alt="">
            <img src="https://www.dba-co.com/wp-content/uploads/2017/02/Partners_one.png" alt="">
            <div class="footer-inner">
                <div>
                    <i class="fab fa-facebook    "></i>
                    <i class="fab fa-facebook    "></i>
                    <i class="fab fa-facebook    "></i>
                    <i class="fab fa-facebook    "></i>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </footer>


</body>


</html>